{% extends 'base.html' %}





{% block content %}


<h4 class="text-center my-3 pb-3"> Hello {{request.user|title}}</h4>

<h6 class="text-center my-3 pb-3">You have {{count}} incomplete task{{count|pluralize:"s"}}</h6>


<nav class="navbar navbar-expand-lg bg-light mb-4">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-success" class="nav-link active" href="{% url 'task:create' %}">Add new
            task</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-danger" class="nav-link active" href="{% url 'users:logout' %}">Logout</a>
        </li>
      </ul>
      <form method="get" class="d-flex" role="search">
        <input class="form-control me-2" name="search" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<table class="table mb-4">
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Todo item</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for task in tasks %}

      {% if task.priority == 1 %}
      <th scope="row" class="badge bg-danger">Hight</th>

      {% elif task.priority == 2 %}
      <th scope="row" class="badge bg-warning">Middle</th>

      {% elif task.priority == 3 %}
      <th scope="row" class="badge bg-success">Low</th>
      {% endif %}

      {% if task.status == False %}

      <td>{{task.body}}</td>
      <td>In progress</td>

      {% else %}
      <td class="text-decoration-line-through">{{task.body}}</td>
      <td>Done</td>
      {% endif %}

      <td>
        <a href="{% url 'task:delete' id=task.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'task:update' id=task.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'task:finish' id=task.id %}" class="btn btn-success">Finish</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}