{% extends 'base.html' %}


{% block content %}

<form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
    {% csrf_token %}
    <div class="col-12">
      <div class="form-outline">
        {% for field in form %}
        <label for="">{{field.label}}</label>
        {{field}}
        {% endfor %}
      </div>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>




{% endblock %}