{% extends 'base.html' %}


{% block content %}

<form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
    {% csrf_token %}
    <div class="form-outline">
        {% for field in form %}
        <label for="">{{field.label}}</label>
        <p>{{field}}</p>
        {% endfor %}
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

    <div>
        <a class="btn btn-warning" href="{% url 'task:index' %}">Back</a>
    </div>
</form>




{% endblock %}